.services-wrapper {
  display: flex;
  flex-direction: column;
}

.services-content-titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-service-title {
  color: var(--color-gray);
}

@media screen and (min-width: 768px) {
  .services-content-titles {
    width: 80%;
    margin: 0 auto;
    gap: 3vw;
    margin-top: 4vw;
  }
  .single-service-title {
    padding: 1.5vw 2.68vw;
  }

  .single-title {
    font-size: 0.9vw;
  }

  .single-service-title-active {
    background-color: var(--primary-color);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    color: white;
  }

  .single-service-title:hover {
    cursor: pointer;
  }

  .services-content {
    width: 80%;
    margin: 0 auto;
    height: 25vw;
    padding-top: 4vw;
    background-color: var(--primary-color);
    color: white;
  }

  .services-content ul {
    width: 80%;
    margin: 0 auto;
  }
  .services-content li {
    margin-bottom: 1vw;
    list-style-type: none;

  }
}
