.title-wrapper {
  font-family: var(--font-base);
  text-transform: uppercase;
  text-align: center;
  font-size: 8.5vw;
  color: var(--color-gray);
  margin-top: 3vw;
}

.title-wrapper span {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .title-wrapper {
    font-size: 3.5vw;
    text-align: center;
  }
  .underline {
    margin: 0 auto;
    border-bottom: 1px solid var(--color-gray);
    width: 15%;
    margin-top: 1vw;
    margin-right: 25vw;
  }
}
