:root {
  /* --second-primary: #5c6895; */
  --primary-color: #58a493;
  --color-gray: #666;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  z-index: 1;
  width: 80%;
  margin: 0 auto;
}
